APP_NAME=pecheche-pay
APP_ENV=local
APP_KEY=pvehM1cegjFVpJ6ykfLLrNVfkum1ZMld
APP_DEBUG=true
APP_URL=http://localhost
APP_LOCALE="pt_BR"
APP_TIMEZONE="America/Sao_Paulo"

LOG_CHANNEL=stack
LOG_SLACK_WEBHOOK_URL=

DB_CONNECTION=sqlite
#DB_DATABASE=database.sqlite
#DB_HOST=127.0.0.1
#DB_PORT=3306
#DB_USERNAME=homestead
#DB_PASSWORD=secret

CACHE_DRIVER=file
QUEUE_CONNECTION=database
