### Laravel ###
/vendor/
/database/*.sqlite
storage/*.key
.env
Homestead.yaml
Homestead.json
.phpunit.result.cache

# Laravel IDE helper
*.meta.*
_ide_*

### CodeSniffer ###
/vendor/*
/wpcs/*

### PhpStorm ###
/.idea

